Connected Services/ServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoWorkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuovoUtente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myId" type="xs:int" />
        <xs:element minOccurs="0" name="myNome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myCognome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myIsAdmin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuovoUtenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NuovoUtenteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>