Connected Services/ServiceReference/ServerServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServer/ServerServices/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServer/ServerServices/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServer/ServerServices/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerServices_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IServerServices_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IServerServices_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IServerServices_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServerServices_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="IServerServices_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServerServices_StoreFilmsList_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreFilmsList" />
  </wsdl:message>
  <wsdl:message name="IServerServices_StoreFilmsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreFilmsListResponse" />
  </wsdl:message>
  <wsdl:message name="IServerServices_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IServerServices_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServerServices_RentFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:RentFilm" />
  </wsdl:message>
  <wsdl:message name="IServerServices_RentFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:RentFilmResponse" />
  </wsdl:message>
  <wsdl:message name="IServerServices_SetFilmStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetFilmStatus" />
  </wsdl:message>
  <wsdl:message name="IServerServices_SetFilmStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetFilmStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IServerServices_LibraryFilmsList_InputMessage">
    <wsdl:part name="parameters" element="tns:LibraryFilmsList" />
  </wsdl:message>
  <wsdl:message name="IServerServices_LibraryFilmsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:LibraryFilmsListResponse" />
  </wsdl:message>
  <wsdl:message name="IServerServices_ReturnFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnFilm" />
  </wsdl:message>
  <wsdl:message name="IServerServices_ReturnFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnFilmResponse" />
  </wsdl:message>
  <wsdl:portType name="IServerServices">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerServices/DoWork" message="tns:IServerServices_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerServices/DoWorkResponse" message="tns:IServerServices_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerServices/RegisterUser" message="tns:IServerServices_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerServices/RegisterUserResponse" message="tns:IServerServices_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerServices/LoginUser" message="tns:IServerServices_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerServices/LoginUserResponse" message="tns:IServerServices_LoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreFilmsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerServices/StoreFilmsList" message="tns:IServerServices_StoreFilmsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerServices/StoreFilmsListResponse" message="tns:IServerServices_StoreFilmsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerServices/GetUser" message="tns:IServerServices_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerServices/GetUserResponse" message="tns:IServerServices_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RentFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerServices/RentFilm" message="tns:IServerServices_RentFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerServices/RentFilmResponse" message="tns:IServerServices_RentFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetFilmStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerServices/SetFilmStatus" message="tns:IServerServices_SetFilmStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerServices/SetFilmStatusResponse" message="tns:IServerServices_SetFilmStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LibraryFilmsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerServices/LibraryFilmsList" message="tns:IServerServices_LibraryFilmsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerServices/LibraryFilmsListResponse" message="tns:IServerServices_LibraryFilmsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerServices/ReturnFilm" message="tns:IServerServices_ReturnFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerServices/ReturnFilmResponse" message="tns:IServerServices_ReturnFilm_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServerServices" type="tns:IServerServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IServerServices/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IServerServices/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/IServerServices/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreFilmsList">
      <soap:operation soapAction="http://tempuri.org/IServerServices/StoreFilmsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IServerServices/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RentFilm">
      <soap:operation soapAction="http://tempuri.org/IServerServices/RentFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFilmStatus">
      <soap:operation soapAction="http://tempuri.org/IServerServices/SetFilmStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LibraryFilmsList">
      <soap:operation soapAction="http://tempuri.org/IServerServices/LibraryFilmsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnFilm">
      <soap:operation soapAction="http://tempuri.org/IServerServices/ReturnFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerServices">
    <wsdl:port name="BasicHttpBinding_IServerServices" binding="tns:BasicHttpBinding_IServerServices">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFServer/ServerServices/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>