Connected Services/ServiceReference/ServerServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServer/ServerServices/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServer/ServerServices/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServer/ServerServices/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerServices_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IServerServices_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IServerServices_GetNomeUtente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNomeUtente" />
  </wsdl:message>
  <wsdl:message name="IServerServices_GetNomeUtente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNomeUtenteResponse" />
  </wsdl:message>
  <wsdl:message name="IServerServices_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IServerServices_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServerServices_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="IServerServices_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServerServices_FilmsList_InputMessage">
    <wsdl:part name="parameters" element="tns:FilmsList" />
  </wsdl:message>
  <wsdl:message name="IServerServices_FilmsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilmsListResponse" />
  </wsdl:message>
  <wsdl:portType name="IServerServices">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerServices/DoWork" message="tns:IServerServices_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerServices/DoWorkResponse" message="tns:IServerServices_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNomeUtente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerServices/GetNomeUtente" message="tns:IServerServices_GetNomeUtente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerServices/GetNomeUtenteResponse" message="tns:IServerServices_GetNomeUtente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerServices/RegisterUser" message="tns:IServerServices_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerServices/RegisterUserResponse" message="tns:IServerServices_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerServices/LoginUser" message="tns:IServerServices_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerServices/LoginUserResponse" message="tns:IServerServices_LoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilmsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerServices/FilmsList" message="tns:IServerServices_FilmsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerServices/FilmsListResponse" message="tns:IServerServices_FilmsList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServerServices" type="tns:IServerServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IServerServices/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNomeUtente">
      <soap:operation soapAction="http://tempuri.org/IServerServices/GetNomeUtente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IServerServices/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/IServerServices/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilmsList">
      <soap:operation soapAction="http://tempuri.org/IServerServices/FilmsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerServices">
    <wsdl:port name="BasicHttpBinding_IServerServices" binding="tns:BasicHttpBinding_IServerServices">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFServer/ServerServices/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>